<div class="container">
    <div class="row">
        <h2>Temas</h2>
    </div>
    
    <ul>
        <li class="this" *ngFor='let elemento of temaList'>
            <span>{{elemento}}</span>
        </li>
    </ul>

    <form>
        <div class="row">
            <div class="col-9 order-1">
                <input type="text" [(ngModel)]="tema" name="temas" placeholder="agregue un nuevo tema" class="form-control">
            </div>
            <div class="col-3 order-0" >
                <input class="btn btn-primary " type="submit" value="Agregar Tema" (click)="agregarTema()">
            </div>
        </div>
    </form>
    <br>


    <div class="form-group row d-flex justify-content-end">
        <div class="col-9 offset-md-2">
            <input type="text" name="examen" id="materia" placeholder="Nombre del examen" class="form-control">
        </div>
    </div>

    <form [formGroup]='examen'>

        <div formArrayName="reactivos" *ngFor="let reactivo of getReactivo(examen); let i = index">
            <div class="row justify-content-end" [formGroupName]="i">

                
                <div class="col-8" id="pr_0">
                    <div class="form-group row justify-content-end">
                        <p class="col">Pregunta {{i+1}}</p>

                        <select class="col form-control" name="tema" id="{{i}}" >
                            <option selected disabled>--Seleccione un Tema--</option>
                            <option *ngFor='let elemento of temaList' value="{{elemento}}">{{elemento}}</option>
                        </select>

                        <div class="col-md-12">
                            <input type="text" name="preguntas" [attr.id]="'contenido' + i"
                                placeholder="Ingrese el contenido de la pregunta" class="form-control">
                        </div>
                    </div>
                </div>

                <!--esta es la seccion de las respuestas, se deberián generar n respuestas-->

                <div class="col-8" formArrayName="respuestas" *ngFor="let respuesta of getRespuesta(reactivo); let j = index">
                    <div [formGroupName]="j">
                        <div class="input-group form-group row justify-content-end">
                            <div class="col-8 ">
                                <input type="text" name='{{j}}' [attr.id]="'contenido' + j" class="form-control"
                                    placeholder="Respuesta {{j+1}}">
                            </div>
                            <div class="input-group-text form-check col-1">
                                <input name="{{i}}" [attr.id]="'correcto' + i" type="radio" value="">
                            </div>

                            <div class="input-group-prepend text-center col-1">
                                <button *ngIf="getRespuesta(reactivo).length > 1" class="btn btn-danger" type="button" (click)="eliminarRespuesta(i, j)">X</button>
                            </div>

                            <select class="col-3 form-control" name="tema" id="{{i}}" >
                                <option value="">Ninguna</option>
                                <option *ngFor='let item of getReactivo(examen); let k = index' value="{{item}}">Pregunta {{k+1}}</option>
                            </select>
                        </div>
                    </div>

                </div>
                <div class="col-8 input-group-prepend text-center offset-lg-5 ">
                    <button class="btn btn-primary w-100" type="button" (click)="agregarRespuesta(i)">Agregar Respuesta</button>
                </div>


            </div>

            <div class="row justify-content-end py-5">
                <hr class="bg-danger border-2 border-top border-danger">
                <div class="input-group-prepend text-center col-2">
                    <button *ngIf="getReactivo(examen).length > 1" class="btn btn-danger" type="button" (click)="eliminarReactivo(i)">Eliminar Reactivo</button>
                </div>
            </div>
            

        </div>

        <div class="row justify-content-end py-5">
            <hr class="bg-danger border-2 border-top border-danger">
            <div class="input-group-prepend text-center col-2">
                <button class="btn btn-primary" type="button" (click)="agregarReactivo()">Agregar Reactivo</button>
            </div>
        </div>
        
    </form>


</div>