<div class = "header">
    <nav>
        <div class = "header-left">
            <a routerLink = "/" routerLinkActive = "active">
                <img src="https://github.com/Sel14/Servicio-Social/raw/crearExamen/FMAT.png" alt="">
            </a>
        </div>
        <div id="titulo" class = "header-center">
            <p>Plataforma de aprendizaje adaptativo</p>
        </div>
        <div class = "header-right">
            <a class="button" routerLink = "/login"><p id="centrado">Inicio</p></a>
        </div>
    </nav>
</div>

