<div>
  <div class="sidenav">
    <a class="link" routerLink="/examen">
      <img src="https://github.com/Sel14/Servicio-Social/raw/crearExamen/Iconos/account_circle_o.png" alt="" />
      Crear Examen</a>

    <a class="link" routerLink="/crear">
      <img src="https://github.com/Sel14/Servicio-Social/raw/crearExamen/Iconos/account_circle_o.png" alt="" />
      Crear pregunta</a>

    <a class="link" routerLink="/ver">
      <img src="https://github.com/Sel14/Servicio-Social/raw/crearExamen/Iconos/account_circle_o.png" alt="" />
      Ver preguntas</a>

    <a class="link" routerLink="/unidades">
      <img src="https://github.com/Sel14/Servicio-Social/raw/crearExamen/Iconos/account_circle_o.png" alt="" />
      Unidades y temas</a>

    <a class="link" routerLink="/materia">
      <img src="https://github.com/Sel14/Servicio-Social/raw/crearExamen/Iconos/account_circle_o.png" alt="" />
      Materia</a>
  </div>
</div>